<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>164852461565-1d6822u4af8j0v0o8gsgi53kd8h8vjm7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.164852461565-1d6822u4af8j0v0o8gsgi53kd8h8vjm7</string>
	<key>API_KEY</key>
	<string>AIzaSyAz2AhN2KcRFVZjDHv8u6lvE5-SXIeLaz4</string>
	<key>GCM_SENDER_ID</key>
	<string>164852461565</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thousand.pharmacyArrival</string>
	<key>PROJECT_ID</key>
	<string>pharmacy-arrival</string>
	<key>STORAGE_BUCKET</key>
	<string>pharmacy-arrival.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:164852461565:ios:1ed4e379f0eb0c7fdeb394</string>
</dict>
</plist>